.UserInfo{
    text-align: left;
    position: relative;
}

.UserInfo label{
    display: inline-block;
    width:100px;
    text-align: right;
    padding-right:10px;
}

.UserInfo .content{
    padding-top:20px;
}

.UserInfo .margin-left-info{
    padding-left: 110px;
    padding-bottom:15px;
}

.UserInfo .backLink{
    position: absolute;
    top:-30px;
    left:10px;
}